@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  font-family: 'Helvetica';
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/11096.eot");
  src: local("☺"), url("../../fonts/11096.woff") format("woff"), url("../../fonts/11096.ttf") format("truetype"), url("../../fonts/11096.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova T - Thin';
  src: url("../../fonts/proxima-nova-thin.eot");
  src: local("☺"), url("../../fonts/proxima-nova-thin.woff") format("woff"), url("../../fonts/proxima-nova-thin.ttf") format("truetype"), url("../../fonts/proxima-nova-thin.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  padding: 80px 0px 0px 0px;
  overflow-x: hidden; }

.nav {
  z-index: 50;
  background-color: #000000;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0; }
  .nav__conteiner {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    height: 80px;
    align-items: center; }
    @media (max-width: 1200px) {
      .nav__conteiner {
        width: 700px; } }
    @media (max-width: 768px) {
      .nav__conteiner {
        width: 500px;
        justify-content: space-between; } }
    @media (max-width: 510px) {
      .nav__conteiner {
        width: 310px; } }
  .nav__logotype {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 30px;
    margin-right: 130px;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .nav__logotype {
        margin-right: 50px; } }
    @media (max-width: 768px) {
      .nav__logotype {
        order: 2;
        margin-right: 0px; } }
  .nav__list {
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .nav__list {
        width: 354px; } }
    @media (max-width: 768px) {
      .nav__list {
        display: none; } }
  .nav__link {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    cursor: pointer; }
    .nav__link:hover {
      color: #42b8dd; }
  .nav__sing {
    border: 2px solid #42b8dd;
    border-radius: 8px;
    color: #42b8dd;
    font-family: "Proxima Nova";
    font-size: 16px;
    padding: 10px 20px;
    margin-left: auto;
    cursor: pointer; }
    @media (max-width: 768px) {
      .nav__sing {
        order: 3;
        margin-left: 0; } }
  .nav__burger {
    height: 35px;
    width: 40px;
    display: none;
    order: 1;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000; }
    @media (max-width: 768px) {
      .nav__burger {
        display: flex; } }
  .nav__burger.active .lineTop {
    transform: rotateZ(45deg);
    position: relative;
    top: 16px; }
  .nav__burger.active .lineCenter {
    transform: scale(0); }
  .nav__burger.active .lineBottom {
    transform: rotateZ(-45deg);
    position: relative;
    bottom: 16px; }
  .nav .lineBottom {
    bottom: 0px; }
  .nav .lineTop {
    top: 0; }
  .nav__line {
    transition: all 0.3s ease 0s;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    display: flex;
    background-color: #fff; }

.dropdown {
  width: 100%;
  display: block;
  position: fixed;
  height: 100%;
  left: -120%;
  z-index: 20;
  transition: all 0.3s ease 0s;
  overflow: auto;
  background-color: #000; }
  .dropdown__menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 465%; }
    .dropdown__menu li {
      width: 100%;
      font-size: 30px;
      letter-spacing: 5px;
      text-align: center;
      border-top: 2px solid #fff; }
      .dropdown__menu li:last-child {
        border-bottom: 2px solid #fff; }

@media (max-width: 768px) {
  .dropdown.active {
    left: 0; } }

.header {
  height: 720px;
  background-color: #666666;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 20px 0px; }
  @media (max-width: 1200px) {
    .header {
      height: 500px; } }
  @media (max-width: 768px) {
    .header {
      height: 300px; } }
  .header__conteiner {
    margin-left: 215px;
    display: flex;
    margin-top: 305px;
    align-items: center; }
    @media (max-width: 1200px) {
      .header__conteiner {
        margin-left: 100px;
        margin-right: 30px;
        margin-top: 205px; } }
    @media (max-width: 768px) {
      .header__conteiner {
        margin-left: 50px;
        margin-right: 10px;
        margin-top: 105px; } }
    @media (max-width: 510px) {
      .header__conteiner {
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 70px; } }
  .header__play {
    margin-right: 40px; }
    @media (max-width: 768px) {
      .header__play {
        margin-right: 30px; } }
    @media (max-width: 510px) {
      .header__play {
        margin-right: 10px; } }
    @media (max-width: 1200px) {
      .header__play img {
        height: 120px; } }
    @media (max-width: 768px) {
      .header__play img {
        height: 100px; } }
    @media (max-width: 510px) {
      .header__play img {
        height: 80px; } }
  .header__logotype {
    display: flex;
    flex-direction: column; }
  .header__title {
    color: #ffffff;
    font-family: "Proxima Nova T - Thin";
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 400; }
    @media (max-width: 1200px) {
      .header__title {
        font-size: 50px; } }
    @media (max-width: 768px) {
      .header__title {
        font-size: 45px; } }
    @media (max-width: 510px) {
      .header__title {
        font-size: 35px; } }
  .header__subtitle {
    color: #42b8dd;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400; }
  .header__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1200px) {
      .header__scroll {
        display: none; } }
  .header__down {
    color: #42b8dd;
    font-family: "Proxima Nova";
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: auto;
    cursor: pointer; }
  .header__triangle {
    height: 00px;
    width: 00px;
    position: absolute;
    animation: headerScroll 1.5s linear infinite normal 0.2s;
    bottom: 160px;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent; }

@keyframes headerScroll {
  0% {
    border-top: 30px solid transparent;
    bottom: 160px; }
  50% {
    border-top: 30px solid #42b8dd;
    bottom: 110px; }
  100% {
    margin-bottom: 10px;
    bottom: 40px; } }

.servis {
  height: 360px;
  width: 100%;
  background: #42b8dd;
  padding: 50px 0px 50px 0px; }
  @media (max-width: 1200px) {
    .servis {
      height: auto;
      padding: 30px 10px 30px 20px; } }
  .servis__conteiner {
    max-width: 1170px;
    display: flex;
    margin: 0px auto 0px auto; }
    @media (max-width: 768px) {
      .servis__conteiner {
        flex-direction: column;
        align-items: center; } }
  .servis__logo {
    max-width: 371px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 768px) {
      .servis__logo {
        align-self: flex-start; } }
  .servis__title {
    margin: 0px 0px 10px 0px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 72px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase; }
    @media (max-width: 1200px) {
      .servis__title {
        font-size: 62px; } }
    @media (max-width: 510px) {
      .servis__title {
        font-size: 52px; } }
  .servis__line {
    width: 370px; }
    @media (max-width: 1200px) {
      .servis__line {
        width: 320px; } }
    @media (max-width: 510px) {
      .servis__line {
        width: 280px; } }
    .servis__line img {
      width: 100%; }
  .servis__main {
    display: flex; }
    @media (max-width: 768px) {
      .servis__main {
        flex-direction: column;
        align-self: flex-start; } }
  .servis__column {
    display: flex;
    flex-direction: column; }
    .servis__column:first-child {
      margin: 0px 32px 0px 30px; }
      @media (max-width: 1200px) {
        .servis__column:first-child {
          margin: 0px 12px 0px 10px; } }
      @media (max-width: 768px) {
        .servis__column:first-child {
          margin: 0px 0px 0px 0px; } }
  .servis__content {
    display: flex; }
    .servis__content:last-child {
      margin: 30px 0px 0px 0px; }
      @media (max-width: 1200px) {
        .servis__content:last-child {
          margin: 20px 0px 0px 0px; } }
      @media (max-width: 768px) {
        .servis__content:last-child {
          margin: 10px 0px 0px 0px; } }
    .servis__content:first-child {
      margin: 0px 0px 30px 0px; }
      @media (max-width: 1200px) {
        .servis__content:first-child {
          margin: 0px 0px 20px 0px; } }
      @media (max-width: 768px) {
        .servis__content:first-child {
          margin: 10px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .servis .servis__content_2 {
      margin: 10px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .servis .servis__content_3 {
      margin: 10px 0px 0px 0px; } }
  .servis__text {
    display: flex;
    margin: 0px 0px 0px 30px;
    flex-direction: column; }
    @media (max-width: 1200px) {
      .servis__text {
        margin: 0px 0px 0px 10px; } }
    .servis__text .servis__content__title {
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase; }
    .servis__text .servis__content__text {
      font-family: "Proxima Nova T - Thin";
      font-size: 14px;
      font-weight: 400;
      color: #ffffff; }
  .servis__image {
    width: 100px;
    height: 100px; }
    .servis__image img {
      width: 100px; }
      @media (max-width: 1200px) {
        .servis__image img {
          width: 80px; } }
    @media (max-width: 1200px) {
      .servis__image {
        width: 80px;
        height: 80px; } }

.panel {
  background: #fff;
  min-height: 150px;
  padding: 59px 20px 57px 20px; }
  @media (max-width: 510px) {
    .panel {
      padding: 20px 50px 20px 50px; } }
  .panel__conteiner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1030px; }
    @media (max-width: 510px) {
      .panel__conteiner {
        flex-direction: column;
        align-items: center; } }
  .panel__image {
    height: 31px;
    width: 31px; }
    @media (max-width: 510px) {
      .panel__image {
        margin-bottom: 15px; }
        .panel__image:last-child {
          margin-bottom: 0px; } }

.works {
  min-height: 1325px;
  padding: 100px 0px 140px 0px;
  background-color: #ebebeb; }
  @media (max-width: 1200px) {
    .works {
      padding: 30px 10px 30px 20px;
      min-height: 725px; } }
  .works__conteiner {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-direction: column; }
    @media (max-width: 768px) {
      .works__conteiner {
        align-items: center; } }
  .works__logo {
    display: flex;
    flex-direction: column; }
  .works__title {
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 72px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase; }
    @media (max-width: 1200px) {
      .works__title {
        font-size: 62px; } }
    @media (max-width: 510px) {
      .works__title {
        font-size: 52px; } }
  .works__line {
    width: 370px; }
    @media (max-width: 1200px) {
      .works__line {
        width: 320px; } }
    @media (max-width: 510px) {
      .works__line {
        width: 280px; } }
    .works__line img {
      width: 100%; }
  .works__tabs {
    display: flex;
    margin: 30px 10px 60px 0px; }
    @media (max-width: 1200px) {
      .works__tabs {
        margin: 30px 10px 30px 0px; } }
    @media (max-width: 768px) {
      .works__tabs {
        margin: 20px 10px 20px 0px; } }
  .works__tab {
    margin: 0px 10px 0px 0px;
    color: #42b8dd;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    padding: 12px 17px 12px 17px;
    border: 2px solid #42b8dd; }
    @media (max-width: 510px) {
      .works__tab {
        padding: 12px 12px 12px 12px; } }
    .works__tab:last-child {
      margin: 0px 0px 0px 0px; }
    .works__tab:first-child {
      padding: 12px 36px 12px 36px; }
      @media (max-width: 510px) {
        .works__tab:first-child {
          padding: 12px 31px 12px 31px; } }
  .works__main {
    display: flex;
    margin: 0px 0px 30px 0px; }
    @media (max-width: 768px) {
      .works__main {
        flex-direction: column; } }
  .works__column {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 0px; }
    @media (max-width: 1200px) {
      .works__column {
        margin: 0px 20px 0px 0px; } }
    .works__column:last-child {
      margin: 0px 0px 0px 0px; }
  .works__item {
    width: 370px;
    height: 370px;
    background-color: #cccccc; }
    @media (max-width: 1200px) {
      .works__item {
        width: 230px;
        height: 250px; } }
    @media (max-width: 768px) {
      .works__item {
        margin: 10px 0px 0px 0px;
        width: 400px;
        height: 280px; } }
    @media (max-width: 510px) {
      .works__item {
        margin: 10px 0px 0px 0px;
        width: 280px;
        height: 280px; } }
  .works__item2 {
    margin: 30px 0px 0px 0px; }
    @media (max-width: 1200px) {
      .works__item2 {
        margin: 20px 0px 0px 0px; } }
    @media (max-width: 768px) {
      .works__item2 {
        margin: 10px 0px 0px 0px; } }

.phrase {
  background-color: #666666;
  min-height: 350px;
  width: 100%;
  position: relative;
  padding: 60px 0px 30px 0px; }
  @media (max-width: 1200px) {
    .phrase {
      padding: 60px 20px 30px 20px; } }
  .phrase__conteiner {
    max-width: 758px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column; }
  .phrase__text {
    color: #ffffff;
    font-family: "Proxima Nova T - Thin";
    font-size: 36px;
    line-height: 41px;
    text-align: center; }
    @media (max-width: 768px) {
      .phrase__text {
        font-size: 26px; } }
    @media (max-width: 510px) {
      .phrase__text {
        font-size: 20px; } }
  .phrase__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 16px 0px 10px 0px; }
    .phrase__image img {
      width: 100%; }
  .phrase__name {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase; }
  .phrase__dots {
    display: flex; }
  .phrase__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 0px 10px 0px 0px; }
    .phrase__dot:last-child {
      margin: 0px 0px 0px 0px; }

.phrase__dot.active {
  background-color: #fff; }

.team {
  background: #fff;
  padding: 100px 0px 140px 0px; }
  @media (max-width: 1200px) {
    .team {
      padding: 30px 10px 30px 20px; } }
  .team__conteiner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .team__logo {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 80px 0px; }
    @media (max-width: 768px) {
      .team__logo {
        margin: 0px 0px 30px 0px; } }
  .team__title {
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 72px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px; }
    @media (max-width: 1200px) {
      .team__title {
        font-size: 62px; } }
    @media (max-width: 510px) {
      .team__title {
        font-size: 52px; } }
  .team__line {
    width: 370px; }
    @media (max-width: 1200px) {
      .team__line {
        width: 320px; } }
    @media (max-width: 510px) {
      .team__line {
        width: 280px; } }
    .team__line img {
      width: 100%; }
  .team__main {
    display: flex; }
    @media (max-width: 768px) {
      .team__main {
        flex-direction: column; } }
  .team__column {
    margin: 0px 40px 0px 0px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1200px) {
      .team__column {
        margin: 0px 20px 0px 0px; } }
    @media (max-width: 768px) {
      .team__column {
        align-items: center; } }
    .team__column:last-child {
      margin: 0px 0px 0px 0px; }
  .team__images {
    display: flex;
    align-items: center; }
  @media (max-width: 1200px) {
    .team__photo {
      width: 120px; } }
  .team__photo img {
    width: 100%; }
  .team__message {
    margin: 0px 10px 0px 0px; }
    .team__message:last-child {
      margin: 0px 0px 0px 0px; }
    @media (max-width: 1200px) {
      .team__message {
        width: 40px; } }
    .team__message img {
      width: 100%; }
  .team__mes {
    display: flex;
    margin-left: -30px; }
  .team__text {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 50px 0px; }
    @media (max-width: 768px) {
      .team__text {
        align-items: center;
        margin: 20px 0px 30px 0px; } }
  .team__text__title {
    color: #42b8dd;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px; }
    @media (max-width: 768px) {
      .team__text__title {
        font-size: 22px;
        margin: 0px 0px 5px 0px; } }
  .team__text__subtitle {
    color: #898989;
    font-family: "Proxima Nova T - Thin";
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 29px 0px; }
    @media (max-width: 768px) {
      .team__text__subtitle {
        font-size: 18px;
        margin: 0px 0px 15px 0px; } }
  .team__text__text {
    color: #363636;
    font-family: "Proxima Nova T - Thin";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; }
    @media (max-width: 768px) {
      .team__text__text {
        text-align: center; } }
